@keyframes fly-in {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  /* Apply the animations */
  .text-container h3.animate-fly-in,
  .text-container p.animate-fly-in {
    animation: fly-in 1s ease forwards;
  }
  
  .image-container .animate-fade-in {
    animation: fade-in 1s ease forwards;
    animation-delay: 0.5s; /* Change this value for desired delay */
  }
  
  /* Optional styles to ensure visibility */
  .text-container {
    overflow: hidden; /* Prevent overflow during animation */
  }
  .image-container {
    position: relative;
    overflow: hidden; /* Prevent overflow during animation */
  }
  